# : comments
!*.py

build/
dist/
*.ini
*.xlsx
*.ipynb
.idea/
.ipynb_checkpoints/
pre_clean_df/
clean_df/
complete_df
pickle/
휴장일/
__pycache__/
*.pdf
# no .a files
*.xlsx

# but do track lib.a, even though you're ignoring .a files above
!lib.a

# only ignore the TODO file in the current directory, not subdir/TODO
/TODO

# ignore all files in the build/ directory
build/

# ignore doc/notes.txt, but not doc/server/arch.txt
doc/*.txt

# ignore all .pdf files in the doc/ directory
doc/**/*.pdf